footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px;
  text-align: center;
  z-index: 99999;
  color: #fff;
}
footer a {
  text-decoration: none;
  background-color: #fff;
  color: rgb(218, 20, 20);
  font-weight: bold;
  padding: 2px;
}
.footer-emoji-heart {
  color: red;
}

@media (max-width: 991px) {
  footer {
    margin: 5px;
  }
  footer a {
    font-size: 10px;
  }
}
